<nav>
    <h3>Calc</h3>
    <section class="theme">
        <h4>Theme:</h4>
        <section class="choises">
            <div class="numberChoise">
                <p (click)="choiseTheme('normal')">1</p>
                <p (click)="choiseTheme('light')">2</p>
                <p (click)="choiseTheme('dark')">3</p>
            </div>
            <div class="choise">
                <span class="circle" [ngClass]="setClass"></span>
                
                <button (click)="choiseTheme('normal')" type="button">.</button>
                <button (click)="choiseTheme('light')" type="button">.</button>
                <button (click)="choiseTheme('dark')" type="button">.</button>
            </div>
        </section>
    </section>
</nav>

<main>
    <section>
        <div class="responseBar" >
            <div class="historic">
                <p class="p2" *ngFor="let item of history"> {{ item }} </p>
            </div>

            <p class="p"> {{ screenContent }} </p>
        </div>
        

        <div class="numbersAndCalcs">
            <ul>
                <li class="buttons" *ngFor="let btn of buttons" (click)="actionClick(btn)">{{ btn }}</li>
                <li class="reset" (click)="reset()">Reset</li>
                <li class="equal" (click)="solution()">=</li>
            </ul>
        </div>
    </section>
</main>