<nav>
    <h3>Calc</h3>
    <section class="theme">
        <h4>Theme:</h4>
        <section class="choises">
            <div class="numberChoise">
                <p>1</p>
                <p>2</p>
                <p>3</p>
            </div>
            <div class="choise">
                <span class="circle"></span>
            </div>
        </section>
    </section>
</nav>

<main>
    <section class="calculator">
        <div class="responseBar">
            
        </div>

        <div class="numbersAndCalcs">
            <ul>
                <li class="buttons" *ngFor="let btn of buttons">{{ btn }}</li>
                <li class="reset">Reset</li>
                <li class="equal">=</li>
            </ul>
        </div>
    </section>
</main>